.slide1 {
  background-image: linear-gradient(
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.3)
  ),  url("https://images.pexels.com/photos/2058132/pexels-photo-2058132.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  height: calc(90vh - 50px) !important;
}

.slide2 {
  background-image: linear-gradient(
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.3)
  ),  url("https://images.pexels.com/photos/265667/pexels-photo-265667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  height: calc(90vh - 50px) !important;
}

.slide3 {
  background-image: linear-gradient(
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.3)
  ), url("https://images.pexels.com/photos/5922530/pexels-photo-5922530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  height: calc(90vh - 50px) !important;
}

.slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    padding: 30px;
  }
}

